.social_media {
	height: 30px;
	width: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.space {
	height: 1px;
	background-color: #D3D3D3;
	margin-top: 4px;
	margin-bottom: 4px;
}

.dropdown-thingie {
	padding-bottom: 5px;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}