body {
	color: #FFFFF0;
	background: url("../images/dark-triangles.png");
	text-align: center;
}

h1 {
	font-size: 32px;
	margin: 20px;
	font-weight: bold;
	font-family: "Helvetica";
}

p {
	margin: 12px;
}