body {
    background-color: #D3D3D3;
}

#painting {
    position: relative;
    height: 850px;
    width: 850px;
    background-color: #f9f9f9;
    text-align: center;
    margin: auto;
}

#red {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: red;
}

#yellow {
    position: absolute;
    height: 300px;
    width: 75px;
    background-color: yellow;
    top: 550px;
}

#blue {
    position: absolute;
    height: 250px;
    width: 270px;
    background-color: blue;
    top: 550px;
    left: 350px;
}

.bar {
    position: absolute;
    background-color: black;
}

#bar-one {
    height: 850px;
    width: 15px;
    left: 350px;
}

#bar-two {
    height: 15px;
    width: 850px;
    top: 350px;
}

#bar-three {
    height: 15px;
    width: 850px;
    top: 550px;   
}

#bar-four {
    height: 300px;
    width: 15px;
    top: 550px;
    left: 75px;
}

#bar-five {
    height: 300px;
    width: 15px;
    top: 550px;
    left: 620px;
}

#bar-six {
    height: 15px;
    width: 270px;
    top: 800px;
    left: 350px;
}

#index-portfolio {
    position: absolute;
    height: 350px;
    width: 350px;
    font-family: 'Impact';
}


#index-portfolio div {
    position: absolute;
    top: 120px;
    left: 104px;
    font-size: 44px;
    color: white;
}

#index-news {
    position: absolute;
    height: 250px;
    width: 270px;
    top: 565px;
    left: 360px;
    font-family: 'Impact';
}

#index-news div {
    position: absolute;
    top: 85px;
    left: 85px;
    font-size: 40px;
    color: white;
}

#index-contact {
    position: absolute;
    font-family: 'Impact';
    height: 285px;
    width: 75px;
    top: 565px;
}

#index-contact div {
    position: absolute;
    top: 130px;
    font-size: 26px;
    color: black;
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#welcome {
    position: absolute;
    text-align: justify;
    padding: 10px;
    left: 365px;
}

#welcome div {
    margin-bottom: 4px;
}

@media screen and (max-width: 900px) {

#painting {
    position: relative;
    height: 850px;
    width: 500px;
    background-color: #f9f9f9;
    text-align: center;
    margin: auto;
}

#red {
    position: absolute;
    height: 150px;
    width: 100px;
    background-color: red;
}

#yellow {
    position: absolute;
    height: 150px;
    width: 100px;
    background-color: yellow;
    top: 640px;
}

#blue {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: blue;
    top: 790px;
    left: 440px;
}

#bar-one {
    height: 850px;
    width: 15px;
    left: 100px;
}

#bar-two {
    height: 15px;
    width: 500px;
    top: 150px;
}

#bar-three {
    height: 15px;
    width: 500px;
    top: 640px;   
}

#bar-four {
    visibility: hidden;
}

#bar-five {
    height: 15px;
    width: 500px;
    top:  790px;
    left: 0px;
}

#bar-six {
    height: 50px;
    width: 15px;
    top: 800px;
    left: 425px;
}

#index-portfolio {
    position: absolute;
    height: 150px;
    width: 100px;
}

#index-portfolio div {
    position: absolute;
    top: 65px;
    left: 23px;
    font-size: 14px;
}

#index-news {
    position: absolute;
    height: 50px;
    width: 60px;
    top: 800px;
    left: 440px;
}

#index-news div {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
    color: white;
}

#index-contact {
    position: absolute;
    height: 135px;
    width: 100px;
    top: 655px;
}

#index-contact div {
    position: absolute;
    left: 10px;
    top: 60px;
    font-size: 22px;
    color: black;
}

#welcome {
    position: absolute;
    text-align: justify;
    padding: 10px;
    left: 115px;
    top: 200px;
}

}