html {
    font-family: Arial;
}

body {
    background-color: #D3D3D3;
    margin: 0;
}

@font-face {
    font-family: Rockout;
    src: url(Rockout.ttf);
}

@font-face {
    font-family: Bookish;
    src: url(Bookish.ttf);
}

.contain {
    width: 950px;
    margin: auto;
}

.coinz {
  background-color: #FAB57F;
  padding: 8px 0;
}

#chrome {
  font-size: 12px;
  font-style: italic;
}

.alt {
  font-style: normal;
}

#line { 
    background-color: black;
    height: 4px;
}

#top {
    display: block;
}

#name {
    text-align: left;
    font-size: 60px;
    font-family: Rockout;
    margin: 5px;
}

.social {
    float: right;
}

.social img {
    width: 25px;
}

.contact img {
    width: 50px;
}

#button-row {
    height: 40px;
    margin: 0;
    display: block;
}

.button {
    width: 20%;
    height: 100%;
    display: table;
    float: left;
}

#button-row:before {
    content: "\a0";
    display: block;
    line-height: 1px;
    border-top: 1px dotted #000;
}

#button-row:after {
    content: "\a0";
    display: block;
    line-height: 1px;
    border-bottom: 1px dotted #000;
}

a {
    text-decoration: none;
    background-color: transparent;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #008fb3;
}
a:active {
  color: yellow;
}

/*About page*/

.justify {
    text-align: justify;
}

#profile {
    margin-top: 2em;
    display: block;
}

#photo {
    width: 250px;
    outline: 3px solid black;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.bookish {
    font-family: Bookish;
}

.portfolio-item {
    margin-top: 15px;
    text-align: center;
}

.portfolio-item img {
    width: 330px;
    float: left;
    margin-right: 15px;
}

.port-link {
    display: inline;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.dotted-line {
    height: 1px;
    background-color: black;
}

/*Donations page*/

.donate {
    margin-top: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.text-column {
    float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.space {
    margin: 10px;
}

.wallet {
    font-size: 14px;
    overflow-wrap: break-word;
    font-family: Courier;
}

/*Slideshow code*/

.slideshow-container {
  max-width: 650px;
  position: relative;
  margin: auto;
}

/* Caption text */
.captiontext {
  color: #f6f6f6;
  font-size: 36px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Portfolio*/

.port-image {
  margin-top: 20px;
}

footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkgray;
   color: black;
   text-align: center;
}

.bottom {
  margin: 65px;
}

footer p {
  font-size: 20px;
  font-family: Rockout;
}