body {
    background-color: #D3D3D3;
}

#news-stories {
	padding: 5px;
	color: white;
}

.bar {
	position: absolute;
	background-color: black;
}

.space {
	height: 2px;
	background-color: black;
	margin-top: 4px;
	margin-bottom: 4px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}

.column-dropdown {
	width: 29%;
	float: left;
}

.column-news {
	width: 70%;
	float: left;
}

.column-news a {
	text-align: left;
}