body {
	background: url(../images/background-spontaneous.png) no-repeat center center fixed;
	background-color: black;
	
}

h1 {
	font-size: 65px;
	color: #FFF;
}

h3 {
	color: #234978;
}

p {
	color: #d3d3d3;
}

h5 {
	color: #FFF;
}

div.panel-body {
	font-size: 24px;
}

.recentCities p {
	color
}

.noresult{
	font-size: 16px;
	color:red;
}

.eventName {
	color: #234978;
	font-size: 20px;
	font-weight: 3px;
	margin: 15px;
	padding: 15px;
}

.eventUrl {
	color: #234978;
	font-size: 14px;
}

.eventDate {
	color: purple;
	font-size: 14px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 15px;
}

.directions h2 {
	font-size: 35px;
	color: #FFF;
	text-align: center;
}

.container {
	max-width: 1100px;
}

.bannerContainer {
	max-width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.banner {
	background: url(../images/banner.png);
	height: 125px;
}

.topHeader, .footer {
	background-color: black;
	text-align: center;
	color: #FFF;
	padding: 6px;
	margin-top: 2px;
 
}

.footer {
	max-height: 150px;
	background-color: black;
	color: #FFF;
}

#mainColumn1, #mainColumn2 {
	border: 2px;
    padding: 20px;
}


#leftSidebar {
	background-color: #234978;
	padding: 10px 10px 10px 10px;
}

#mainContent {
	background-color: #99c0ff;
	border-width: 4px;
	border-color: black;


}

#weather p {
	color: #FFF;
	font-size: 16px;
	text-align: center;
	padding: 20px;

}

#map { 
	position:relative; top:0; bottom:0; width:100%; height: 400px; 
}